{% if not projects %}
    <h2 class="text-center">Нет Проектов</h2>
{% endif %}

{% for project in projects %}
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h3 class="card-title"><a href="{% url "webapp:view" project.pk %}">{{ project.name }}</a></h3>
        <p>
            <label for="selected_projects-{{ project.pk }}">Select:</label>
            <input type="checkbox" name="selected_projects"
                   id="selected_projects-{{ project.pk }}" value="{{ project.pk }}">
        </p>
        <p>Description: ({{ project.description }})</p>
        {% for i in project.user.all %}
        <p class="card-subtitle mb-2 text-muted">
            <a href="{% url 'accounts:detail' i.id %}">{{ i }}</a>
            | {{ project.timestart|date:"d.m.Y" }}
        </p>
        {% endfor %}
        <p class="card-title">Published at: {{ project.timestart|date:"d.m.Y" }}</p>
        {% if perms.webapp.change_project and request.user in project.user.all %}
            <p class="card-title"><a href="{% url 'webapp:edit' project.pk %}">Update</a></p>
        {% endif %}
        {% if perms.webapp.change_project and request.user in project.user.all %}
            <p class="card-title"><a href="{% url 'webapp:delete' project.pk %}">Delete</a></p>
        {% endif %}
        </div>
    </div>
{% endfor %}
{% if is_paginated %}
     {% include 'partial/paginate.html' %}
{% endif %}